html {
  font-family: monospace;
  background: rgb(191, 167, 202);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.hide {
  display: none;
}

.commands li {
  margin-bottom: 12px;
  flex: 50%;
}
